{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="d-flex justify-content-center pt-5">
<form method="post" class="form-signin">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Connexion au compte : </h1>
    <label for="inputLogin" class="sr-only">Login ou Email</label>
    <input class="form-control" type="login" value="{{ last_username }}" name="login" id="inputLogin" placeholder="Login ou Email" required autofocus>
    <label for="inputPassword" class="sr-only">Mot de Passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de Passe" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
    <div>
        <a class="btn btn-sm btn-outline-secondary mt-3" href="{{path('app_forgot_password_request')}}">mot de passe oubliée</a>
    </div>
    <button class="btn btn-lg btn-primary mt-3" type="submit">
        Se Connecter
    </button>
</form>
</div>
{% endblock %}
