{% extends 'base.html.twig' %}

{% block body %}

<div>
    <div class="d-flex justify-content-center"><h1> Bienvenu sur la SAP</h1></div>
    <div class="d-flex justify-content-center">
    {% if app.user.roles is defined %}
        {% if app.user.roles[0] == "ROLE_ADMIN" %}
            <a class="btn btn-lg btn-primary" href="{{  path('affichelisteDemande', ({'page': 1})) }}">Accèder à la liste des Demandes</a>
        {% endif %}
        {% if app.user.roles[0] == "ROLE_DEMANDEUR" %}
            <a class="btn btn-lg btn-primary" href="{{  path('afficheListeDemandeDemandeur', ({'page': 1})) }}">Accèder à la liste des Demandes</a>
        {% endif %}
        {% if app.user.roles[0] == "ROLE_CARISTE" %}
            <a class="btn btn-lg btn-primary" href="{{  path('afficheListeDemandeCariste', ({'page': 1})) }}">Accèder à la liste des Demandes</a>
        {% endif %}
    {% else %}
        <a class="btn btn-lg btn-primary" href="{{ path('app_login')}}">se Connecter</a>
    {% endif %}
    </div>
</div>

{% endblock %}