{% extends 'base.html.twig'%}
{% block body %}
<div class="table-responsive">        
        <table class="table table-striped table-responsive">
        <thead class="table-light">
            <tr>    
                <th scope="col" class="dropdown">
                    <button class="btn btn-outline-dark dropdown-toggle fw-bold" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Etat</button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="{{ path('afficheListeDemandeCaristeOrderByEtat', ({'page': 1})) }}">✅ Préparer</a></li>
                        <li><a class="dropdown-item" href="{{ path('afficheListeDemandeCaristeOrderByEtat0', ({'page': 1})) }}">❌ A Préparer</a></li>
                    </ul>
                </th>
                <th scope="col" class="middle">Date Validation</th>                
                <th scope="col">Date Création</th>
                <th scope="col" class="dropdown">
                    <button class="btn btn-outline-dark dropdown-toggle fw-bold" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Date Besoin</button> 
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="{{ path('afficheListeDemandeCaristeUrgent', ({'page': 1})) }}">⚠️ Urgent</a></li>
                    </ul>
                </th>
                <th scope="col">Entrepot Source</th>
                <th scope="col">Entrepot Destinataire</th>
                <th scope="col">Article</th>
                <th scope="col">Qte req</th>
                <th scope="col">Unité</th>
                <th scope="col">Demandeur</th>
                <th scope="col">Cariste</th>
            </tr>
        </thead>
        <tbody>
        {% for demande in listeDemande %}
            {% if demande.date_besoin|date('d/m/Y') == "now"|date("d/m/Y") and demande.etat == 0 %}
            <tr class="table-danger">
            {% elseif demande.date_besoin|date('d/m/Y') == "now"|date("d/m/Y") and demande.etat == 1 %}
            <tr class="table-success">
            {% else %}
            <tr>
            {% endif %}
                {% if demande.etat == 0 %}
                    <td><a class="btn btn-outline-danger" href="{{  path('validerDemandeCariste', {idDemande: demande.id}) }}">❗</a></td>
                {% else %}
                    <td >✅</td>
                {% endif %}
                {% if demande.date_valide %}
                    <td>{{ demande.date_valide|date('d-m-Y') }}</td>
                {% else %}
                    <td>{{ demande.date_valide }}</td>
                {% endif %}
                <td>{{ demande.date_creation|date('d-m-Y') }}</td>
                <td>{{ demande.date_besoin|date('d-m-Y') }}</td>
                <td>{{ demande.entrepot_source_libelle }}</td>
                <td>{{ demande.entrepot_dest_libelle }}</td>
                <td>{{ demande.article_libelle }}</td>
                <td>{{ demande.quantite}}</td>
                <td>{{ demande.unite_libelle  }}</td>
                <td>{{ demande.nom_demandeur  }}</td>
                <td>{{ demande.nom_cariste  }}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
        <div>
            {% if filtre is defined %}
                <a class="btn-outline-primary btn fw-bold mx-5" href="{{ path('afficheListeDemandeCariste', ({'page': 1})) }}">Enlever filtre 🔍❌ </a>
            {% endif %}
        </div>
        <div>
            {% include 'pagination.html.twig' with {'pagination': listeDemande} %}
        </div> 
</div>
{% endblock %}