{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
    <div class="d-flex flex-column justify-content-center m-5">
        <p> 
            Si un compte existant est lié à l'adresse mail, un mail sera envoyé avec le lien de réinitialisation de votre mot 
            de passe.
        </p>
        <p>
            Le lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
        </p>
        <p>
            si vous n'avez pas reçu le mail, regardez vos spam ou <a href="{{ path('app_forgot_password_request') }}">essayer encore</a>.
        </p>
    </div>
{% endblock %}

