<!DOCTYPE html>
<html>
    <head>
    	<title>Email Changement de mot de passe</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
		<h1>Bonjour !</h1>

		<p>Pour réinistialiser votre mot de passe, cliquer sur le lien ci-dessous :</p>

		<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>
		<p>Ce lien expirera dans 1 heure.</p>

		<p>Bonne journée!</p>
    </body>
</html>