{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <div class="d-flex justify-content-center">
        <h1>Réinistialiser votre mot de passe</h1>
    </div>
    <div class="form-group d-flex justify-content-center mt-5">
    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <button class="btn btn-primary mt-5">Envoyer un mail de réinitialisation de mot de passe</button>
    {{ form_end(requestForm) }}
    </div>
{% endblock %}

