{% extends 'base.html.twig' %}

{% block title %}Réinitialiser votre mot de passe{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center">
        <h1>Réinitialiser votre mot de passe</h1>
    </div>
    <div class="form-group d-flex justify-content-center mt-5">
    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary mt-5">Réinitialiser votre mot de passe</button>
    {{ form_end(resetForm) }}
    </div>
{% endblock %}
