{% extends 'base.html.twig'%}
{% block body %}
<div class="table-responsive">
        <table class="table table-striped mt-5 ">
        <thead class="table-light">
            <tr>    
                <th scope="col">Etat</th>
                <th scope="col" class="middle">Date Validation</th>
                <th scope="col">Date Creation</th>
                <th scope="col">Date Besoin</th>
                <th scope="col">Entrepot Source</th>
                <th scope="col">Entrepot Destinataire</th>
            	<th scope="col">Article</th>
            	<th scope="col">Qte req</th>
            	<th scope="col">Unité</th>
                <th scope="col">Cariste</th>
            </tr>
        </thead>
        <tbody>
        {% for demande in listeDemande %}
            <tr>
                {% if demande.etat == 0 %}
                    <td>❌</td>
                {% else %}
                    <td>✅</td>
                {% endif %}
                {% if demande.date_valide %}
                    <td>{{ demande.date_valide|date('d-m-Y') }}</td>
                {% else %}
                    <td>{{ demande.date_valide }}</td>
                {% endif %}
                <td>{{ demande.date_creation|date('d-m-Y') }}</td>
                <td>{{ demande.date_besoin|date('d-m-Y') }}</td>
                <td>{{ demande.entrepot_source_libelle }}</td>
            	<td>{{ demande.entrepot_dest_libelle }}</td>
                <td>{{ demande.article_libelle }}</td>
                <td>{{ demande.quantite}}</td>
                <td>{{ demande.unite_libelle  }}</td>
                {% if demande.nom_cariste %}
                    <td>{{ demande.nom_cariste  }}</td>
                {% else %}
                    <td>En cours d'attribution</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
        </table>
        <div><a class="btn-outline-primary btn mx-5 fw-bold" href="{{ path('formulaireCreationDemande') }}">Faire une nouvelle Demande</a></div>
        <div>
            {% include 'pagination.html.twig' with {'pagination': listeDemande} %}
        </div> 
</div>
{% endblock %}