{% extends 'base.html.twig'%}
{% block body %}
<div class="table-responsive profile">
<table class="table mx-auto">
  <thead>
    <tr>
      <th scope="col">Information</th>
      <th scope="col">Utilisateur</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Login</th>
      <td>{{utilisateur.login}}</td>
    </tr>
    <tr>
      <th scope="row">Nom</th>
      <td>{{utilisateur.nom}}</td>
    </tr>
    <tr>
      <th scope="row">Prénom</th>
      <td>{{utilisateur.prenom}}</td>
    </tr>
    <tr>
      <th scope="row">E-mail</th>
      <td>{{utilisateur.email}}</td>
    </tr>
  </tbody>
</table>
</div>
<div class="d-grid gap-2 d-md-flex justify-content-md-end mx-5">
  <a class="btn btn-primary " href="{{ path('modificationProfileDemandeur') }}">mettre à jour le profile</a>
  <a class="btn btn-primary" href="{{ path('modificationPasswordDemandeur') }}">modifier le mot de passe</a>
</div>
{% endblock %}