{% extends 'base.html.twig'%}
{% block body %}
<form method="post" action="{{ path('AjouterDemande') }}">
	<div class="form-group d-flex justify-content-center mt-5">
   	<fieldset>
   		<legend>Creation d'une nouvelle demande</legend>
		<div>
		    <label for="form_dateBesoin">Date du Besoin</label>
		    <input class="form-control" type="date" id="form_dateBesoin" name="form[dateBesoin]" value="{{dateDemain}}" />
		</div>
		<div>
		    <label for="form_entrepotSource">Entrepot Source</label>
		    <select class="custom-select form-control" name="form[entrepotS]" id="form_entrepotSource" required>
				<option value="">-- Selectionner un Entrepot Source --</option>
			{% for EntrepotS in listeEntrepotS %}
	         	<option value={{EntrepotS.id}}>{{EntrepotS.libelle_entrepot}}</option>
	        {% endfor %}
	    	</select>
		</div>
		<div>
		    <label for="form_entrepotDest">Entrepot Destination</label>
		    <select class="custom-select form-control" name="form[entrepotD]" id="form_entrepotDest" required>
		    	<option value="">-- Selectionner un Entrepot Destinataire --</option>
			{% for EntrepotD in listeEntrepotD %}
	         	<option value={{EntrepotD.id}}>{{EntrepotD.libelle_entrepot}}</option>
				}
	        {% endfor %}
	    	</select>
		</div>
		<div>
		    <label for="form_article">Article</label>
		    <select class="custom-select form-control" name="form[article]" id="form_article" required>
		    	<option value="">-- Selectionner un Article --</option>
			{% for Article in listeArticle %}
	         	<option value={{Article.id}}>{{Article.libelle_article}}</option>
	        {% endfor %}
	    	</select>
		</div>
		<div>
		    <label for="form_quantite">Quantité</label>
		    <input class="form-control" type="number" id="form_quantite" name="form[quantite]" value="" placeholder="-- Saisir une Quantité --" />
		</div>
		<div>
		    <label for="form_unite">Unite</label>
		    <select class="custom-select form-control" id="form_unite" name="form[unite]" required>
		    	<option value="">-- Selectionner une Unité --</option>
			{% for Unite in listeUnite %}
	         	<option value={{Unite.id}}>{{Unite.libelle_unite}}</option>
	        {% endfor %}
	    	</select>
		</div>
		<div>
		    <label for="form_save"></label>
		    <input class="btn btn-primary d-flex justify-content-center" type="submit" id="form_save" name="form[save]" />
		</div>
	</fieldset>
	</div>
</form>	
{% endblock %}