{% extends 'base.html.twig'%}
{% block body %}
<form method="post" action="{{ path('modificationProfileDemandeur') }}">
	<div class="form-group d-flex justify-content-center mt-5">
   	<fieldset>
   		<legend>modification du demandeur : {{utilisateur.id}} </legend>
		<div>
		    <label for="form_login">Login</label>
		    <input class="form-control" type="text" maxlenght ="50" id="form_login" name="form[login]" value="{{utilisateur.login}}" required />
		</div>
		<div>
		    <label for="form_nom">Nom</label>
		    <input class="form-control" type="text" maxlenght ="255" id="form_nom" name="form[nom]" value="{{utilisateur.nom}}" required />
		</div>
		<div>
		    <label for="form_prenom">Prénom</label>
		    <input class="form-control" type="text" maxlenght ="255" id="form_prenom" name="form[prenom]" value="{{utilisateur.prenom}}" required/>
		</div>
		<div>
		    <label for="form_mail">E-mail</label>
		    <input class="form-control" type="mail" maxlenght ="255" id="form_mail" name="form[mail]" value="{{utilisateur.email}}" required/>
		</div>
		<div>
		    <label for="form_save"></label>
		    <input class="btn btn-primary d-flex justify-content-center" type="submit" id="form_save" name="form[save]" />
		</div>
	</fieldset>
	</div>
</form>	
{% endblock %}