{% extends 'base.html.twig'%}
{% block body %}
<div class="table-responsive">
        <table class="table table-striped">
            <thead>
            	<tr>
                    <th scope="col">Login</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Prenom</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Mot de passe</th>
                    <th scope="col">Profile
                        <a class="btn btn-outline-primary btn-sm" href="{{ path('afficheListeUtilisateurOrderByProfile', ({'page': 1})) }}">🔼</a>
                    </th>
                    <th scope="col">✍🏻</th>
                    <th scope="col">➖</th>
            	</tr>
            </thead>
            <tbody>
                {% for utilisateur in listeUtilisateur %}
                <tr>
                    <td>{{ utilisateur.login }}</td>
                    <td>{{ utilisateur.nom }}</td>
                    <td>{{ utilisateur.prenom }}</td>
                    <td>{{ utilisateur.mail }}</td>
                	<td><a href="{{ path('modificationPasswordUtilisateur', {idUtilisateur: utilisateur.id}) }}">réinitialiser le mot de passe</a></td>
                    {% if utilisateur.profile == 1 %}
                        <td>ADMIN</td>
                    {% elseif utilisateur.profile == 2 %}
                        <td>DEMANDEUR</td>
                    {% elseif utilisateur.profile == 3 %}
                        <td>CARISTE</td>
                    {% else %}
                        <td> ERROR</td>
                    {% endif %}
                    <td><a href="{{ path('modificationUtilisateur', {idUtilisateur: utilisateur.id}) }}">modifier</a></td>
                    <td><a href="{{ path('suppressionUtilisateur', {idUtilisateur: utilisateur.id}) }}">supprimer</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
</div>
<div>
    <a class="btn btn-primary mx-4 " href="{{ path('formulaireCreationUtilisateur') }}">Ajouter Utilisateur</a>
</div>
<div>
    {% include 'pagination.html.twig' with {'pagination': listeUtilisateur} %}
</div>
{% endblock %}