{% extends 'base.html.twig'%}{% block body %}
<div class="container">
  	<div class="row">
    	<div class="col">
    	<h3>nombre de demande créée en {{ annee }} : {{ nbDemande }}</h3>
    	</div>
	    <div class="col">
	    	<h3>moyenne de Demande par mois en {{ annee }} : {{ moyDemandeMois }}</h3>
	    </div>
  	</div>
  	<div class="row">
  		<div class="col">
    		<h3>nombre de demande validé en {{ annee }} : {{ nbDemandeValider }}</h3>
    	</div>
    </div>
  	<div class="row">
		<div class="col">
		   	<h3>nombre de demande validé en retard en {{ annee }} : {{ nbRetard }}</h3>
		</div>
	</div>
	<div class="row">
		<div class="col">
		   	<h3>nombre de demande validé à l'heure en {{ annee }} : {{ nbAlHeure }}</h3>
		</div>
	</div>
</div>
<div class="table-responsive">
    <table class="table table-striped align-middle ">
        <thead class="table-light">
	        <tr>
	        	<th>{{ annee }}</th>
	        	<th>
	        		<a class="btn btn-outline-dark fw-bold" href="{{ path('afficheStatistique', ({'annee': annee,'mois':'1' })) }}">Janvier</a>
	        	</th>
	        	<th>
	        		<a class="btn btn-outline-dark fw-bold" href="{{ path('afficheStatistique', ({'annee': annee,'mois':'2' })) }}">Fevrier</a>
	        	</th>
	       		<th>
	       			<a class="btn btn-outline-dark fw-bold" href="{{ path('afficheStatistique', ({'annee': annee,'mois':'3' })) }}">Mars</a>
	       		</th>
	       		<th>
	       			<a class="btn btn-outline-dark fw-bold" href="{{ path('afficheStatistique', ({'annee': annee,'mois':'4' })) }}">Avril</a>
	       		</th>
	       		<th>
	       			<a class="btn btn-outline-dark fw-bold" href="{{ path('afficheStatistique', ({'annee': annee,'mois':'5' })) }}">Mai</a>
	       		</th>
	       		<th>
	       			<a class="btn btn-outline-dark fw-bold" href="{{ path('afficheStatistique', ({'annee': annee,'mois':'6' })) }}">Juin</a>
	       		</th>
	       		<th>
	       			<a class="btn btn-outline-dark fw-bold" href="{{ path('afficheStatistique', ({'annee': annee,'mois':'7' })) }}">Juillet</a>
	       		</th>
	       		<th>
	       			<a class="btn btn-outline-dark fw-bold" href="{{ path('afficheStatistique', ({'annee': annee,'mois':'8' })) }}">Aout</a>
	       		</th>
	       		<th>
	       			<a class="btn btn-outline-dark fw-bold" href="{{ path('afficheStatistique', ({'annee': annee,'mois':'9' })) }}">Septembre</a>
	       		</th>
        		<th>
        			<a class="btn btn-outline-dark fw-bold" href="{{ path('afficheStatistique', ({'annee': annee,'mois':'10' })) }}">Octobre</a>
        		</th>
       	  		<th>
       	  			<a class="btn btn-outline-dark fw-bold" href="{{ path('afficheStatistique', ({'annee': annee,'mois':'11' })) }}">Novembre</a>
       	  		</th>
	        	<th>
	        		<a class="btn btn-outline-dark fw-bold" href="{{ path('afficheStatistique', ({'annee': annee,'mois':'12' })) }}">Décembre</a>
	        	</th>
	        </tr>
      	</thead>
        <tbody>
			<tr>
			<td>NB de Création</td>
			{% for demande in nbDemandeAn %}
				<td>{{ demande }}</td>
			{% endfor %}
			</tr>
			<td>NB de Validation</td>
			{% for valide in nbDemandeAnValider %}
				<td>{{ valide }}</td>
			{% endfor %}
			</tr>
			<tr>
			<td>NB de Retard</td>
			{% for retard in nbRetardAn %}
				<td>{{ retard }}</td>
			{% endfor %}
			</tr>
			<tr>
			<td>NB rendu à l'heure</td>
			{% for alheure in nbAlHeureAn %}
				<td>{{ alheure }}</td>
			{% endfor %}
			</tr>
		</tbody>
    </table>
</div>
{% if mois != -1 %}
<div class="table-responsive">
    <table class="table table-striped align-middle ">
        <thead class="table-light">
	        <tr>
	        	{% if mois == 1 %}
	        		<th>Janvier</th>
	        	{% endif %}
	        	{% if mois == 2 %}
	        		<th>Fevrier</th>
	        	{% endif %}
	        	{% if mois == 3 %}
	        		<th>Mars</th>
	        	{% endif %}
	        	{% if mois == 4 %}
	        		<th>Avril</th>
	        	{% endif %}
	        	{% if mois == 5 %}
	        		<th>Mai</th>
	        	{% endif %}
	        	{% if mois == 6 %}
	        		<th>Juin</th>
	        	{% endif %}
	        	{% if mois == 7 %}
	        		<th>Juillet</th>
	        	{% endif %}
	        	{% if mois == 8 %}
	        		<th>Aout</th>
	        	{% endif %}
	        	{% if mois == 9 %}
	        		<th>Septembre</th>
	        	{% endif %}
	        	{% if mois == 10 %}
	        		<th>Octobre</th>
	        	{% endif %}
	        	{% if mois == 11 %}
	        		<th>Novembre</th>
	        	{% endif %}
	        	{% if mois == 12 %}
	        		<th>Décembre</th>
	        	{% endif %}
	        	{% for jour in cal %}
	        		<td>{{ jour }}</td>
	        	{% endfor %}
	        </tr>
      	</thead>
		<tbody>
			<tr>
			<td>NB de Création</td>
			{% for demandejour in nbDemandeMois %}
				<td>{{ demandejour }}</td>
			{% endfor %}
			</tr>
			<tr>
			<td>NB de Validation</td>
			{% for validejour in nbDemandeMoisValider %}
				<td>{{ validejour }}</td>
			{% endfor %}
			</tr>
			<tr>
			<td>NB de Retard</td>
			{% for retardjour in nbRetardMois %}
				<td>{{ retardjour }}</td>
			{% endfor %}
			</tr>
			<tr>
			<td>NB rendu à l'heure</td>
			{% for alheurejour in nbAlHeureMois %}
				<td>{{ alheurejour }}</td>
			{% endfor %}
			</tr>
		</tbody>
    </table>
</div>
{% endif %}
<div class="btn-group px-5" role="group" aria-label="Basic example">
	<button type="button" class="btn-outline-primary btn fw-bold mb-5 mx-2" data-bs-toggle="modal" data-bs-target="#modalF">Filtre 🔍</button>
	{% if filtre["article"] is defined %}
    <a class="btn-outline-primary btn fw-bold mb-5" href="{{ path('afficheStatistique', ({'annee': annee,'mois': '%02d'|format(mois) })) }}">Enlever filtre 🔍❌ </a>
	{% endif %}
	<a class="btn-outline-primary btn fw-bold mb-5 mx-2" href="{{ path('afficheGraphStatistique', filtre|merge({'annee': annee,'mois': '%02d'|format(mois) })) }}">Graphe 📈</a>
</div>
{% include 'admin/paginationDate.html.twig' %}

<!-- Modal Filtre-->
<div class="modal fade" id="modalF" tabindex="-1" aria-labelledby="modalF" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalF">Filtré les statistiques</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="{{ path('afficheStatistique') }}" method="get" role="form">
      <div class="modal-body">
            <div class="form-group d-flex justify-content-center mt-5">
                <div>Etat de la demande :
                  <br>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="etat" id="etat" value=0 {% if app.request.query.get('etat') == 0 %} checked {% endif %}>
                      <label class="form-check-label" for="etat">En cours de préparation</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="etat" id="etat" value=1 {% if app.request.query.get('etat') == 1 %} checked {% endif %}>
                      <label class="form-check-label" for="etat">Prête</label>
                    </div>
                    <br>
                    <label for="entrepotS">Entrepot Source :</label>
                    <input class="form-control" type="text" id="entrepotS" name="entrepotS" value="{{app.request.query.get('entrepotS')}}" placeholder="Saisir un Entrepot Source" />
                    <label for="entrepotD">Entrepot Destination:</label>
                    <input class="form-control" type="text" id="entrepotD" name="entrepotD" value="{{app.request.query.get('entrepotD')}}" placeholder="Saisir un Entrepot Destination" />
                    <label for="article">Article:</label>
                    <input class="form-control" type="text" id="article" name="article" value="{{app.request.query.get('article')}}" placeholder="Saisir un Article" />
                    <label for="demandeur">Demandeur:</label>
                    <input class="form-control" type="text" id="demandeur" name="demandeur" value="{{app.request.query.get('demandeur')}}" placeholder="Saisir Demandeur" />
                    <label for="cariste">Cariste:</label>
                    <input class="form-control" type="text" id="cariste" name="cariste" value="{{app.request.query.get('cariste')}}" placeholder="Saisir un Cariste" />
                    <button class="btn btn-primary mt-2" id="cariste" name="cariste" value="0">aucun Cariste</button>
                    <input type="hidden" id="annee" name="annee" value="{{annee}}"/>
                    <input type="hidden" id="mois" name="mois" value="{{'%02d'|format(mois)}}"/>
                </div>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button class="btn btn-primary" type="submit" >Valider</button>
      </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}