{% extends 'base.html.twig'%}
{% block body %}
<div class="table-responsive">
        <table class="table table-striped">
        <thead>
        <tr>
                <th scope="col">Code Article</th>
                <th scope="col">Libelle Article</th>
                <th scope="col">✍🏻</th>
                <th scope="col">➖</th>
        </tr>
        </thead>
        <tbody>
        {% for article in listeArticle %}
        	<tr>
                <td>{{ article.code_article }}</td>
                <td>{{ article.libelle_article }}</td>
                <td><a href="{{ path('modificationArticle', {idArticle: article.id}) }}">modifier</a></td>
                <td><a href="{{ path('suppressionArticle', {idArticle: article.id}) }}">supprimer</a></td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
</div>
<div>
        <a class="btn btn-primary mx-5 " href="{{ path('creationArticle') }}">ajouter article</a>
</div>
<div>
    {% include 'pagination.html.twig' with {'pagination': listeArticle} %}
</div>
{% endblock %}