{% extends 'base.html.twig'%}
{% block body %}
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
                <th scope="col">Unite</td>
                <th scope="col">✍🏻</th>
                <th scope="col">➖</th>
        </tr>
        </thead>
        <tbody>
        {% for unite in listeUnite %}
            <tr>
                <td>{{ unite.libelle_unite }}</td>
                <td><a href="{{ path('modificationUnite', {idUnite: unite.id}) }}">modifier</a></td>
                <td><a href="{{ path('suppressionUnite', {idUnite: unite.id}) }}">supprimer</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div>
        <a class="btn btn-primary mx-5 " href="{{ path('creationUnite') }}">ajouter unité</a>
</div>

<div>
    {% include 'pagination.html.twig' with {'pagination': listeUnite} %}
</div>
{% endblock %}