{% extends 'base.html.twig'%}
{% block body %}
<div class="table-responsive">
        <table class="table table-striped align-middle ">
            <thead class="table-light">
            	<tr>
                    <th scope="col" class="dropdown">
                      <button class="btn btn-outline-dark dropdown-toggle fw-bold" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Etat</button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="{{ path('affichelisteDemandeI', ({'page': 1})) }}">✅ Préparer</a></li>
                        <li><a class="dropdown-item" href="{{ path('affichelisteDemandeO', ({'page': 1})) }}">❌ A Préparer</a></li>
                      </ul>
                    </th>
                    <th scope="col" class="dropdown">
                      <button class="btn btn-outline-dark dropdown-toggle fw-bold" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Date Validation</button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="{{ path('affichelisteDemandeOrderDateVal', ({'page': 1})) }}">🔼 Demandes récentes</a></li>
                        <li><a class="dropdown-item" href="{{ path('affichelisteDemandeOrderDateValDESC', ({'page': 1})) }}">🔽 Demandes anciennes</a></li>
                        <li><a class="dropdown-item" href="{{ path('affichelisteDemandeI', ({'page': 1})) }}">✅ Préparer</a></li>
                        <li><a class="dropdown-item" href="{{ path('affichelisteDemandeO', ({'page': 1})) }}">❌ A Préparer</a></li>
                        <li><a class="dropdown-item" href="{{ path('affichelisteDemandeRetard', ({'page': 1})) }}">⏰ Demandes en retard</a></li>
                      </ul>
                    </th>
                    <th scope="col" class="dropdown">
                      <button class="btn btn-outline-dark dropdown-toggle fw-bold" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Date Creation</button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="{{ path('affichelisteDemandeOrderDateCreationDESC', ({'page': 1})) }}">🔼 Demandes récentes</a></li>
                        <li><a class="dropdown-item" href="{{ path('affichelisteDemandeOrderDateCreation', ({'page': 1})) }}">🔽 Demandes anciennes</a></li>
                        <li><a class="dropdown-item" href="{{ path('affichelisteDemandeRetard', ({'page': 1})) }}">⏰ Demandes en retard</a></li>
                      </ul>
                    </th>
                    <th scope="col" class="dropdown">
                        <button class="btn btn-outline-dark dropdown-toggle fw-bold" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Date Besoin</button> 
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="{{ path('affichelisteDemandeOrderDateBesoinDESC', ({'page': 1})) }}">🔼 Demandes récentes</a></li>
                            <li><a class="dropdown-item" href="{{ path('affichelisteDemandeOrderDateBesoin', ({'page': 1})) }}">🔽 Demandes anciennes</a></li>
                            <li><a class="dropdown-item" href="{{ path('affichelisteDemandeRetard', ({'page': 1})) }}">⏰ Demandes en retard</a></li>
                        </ul>
                    </th>
                    <th scope="col">Entrepot Source 
                        <a type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#modalES">🔍</a>
                    </th>
                    <th scope="col">Entrepot Destinataire
                        <a type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#modalED">🔍</a>
                    </th>
            		<th scope="col">Article
                        <a type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#modalArticle">🔍</a>
                    </th>
            		<th scope="col" class="middle">Qte req</th>
            		<th scope="col">Unité 
                    </th>
                    <th scope="col">Demandeur
                        <a type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#modalDem">🔍</a>
                    </th>
                    <th scope="col">Cariste
                        <a type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#modalCar">🔍</a>
                    </th>
            	</tr>
            </thead>
            <tbody >
                {% for demande in listeDemande %}
                <tr>
                    {% if demande.etat == 0 %}
                        <td>❌</td>
                    {% else %}
                        <td>✅</td>
                    {% endif %}
                    {% if demande.date_valide %}
                        <td>{{ demande.date_valide|date('d-m-Y') }}</td>
                    {% else %}
                        <td>{{ demande.date_valide }}</td>
                    {% endif %}
                    <td>{{ demande.date_creation|date('d-m-Y') }}</td>
                    <td>{{ demande.date_besoin|date('d-m-Y') }}</td>
                    <td>{{ demande.entrepot_source_libelle }}</td>
                	<td>{{ demande.entrepot_dest_libelle }}</td>
                    <td>{{ demande.article_libelle }}</td>
                    <td>{{ demande.quantite}}</td>
                    <td>{{ demande.unite_libelle  }}</td>
                    <td>{{ demande.nom_demandeur  }}</td>
                    {% if demande.nom_cariste %}
                        <td>{{ demande.nom_cariste  }}</td>
                    {% else %}
                        <td><a class="btn-outline-primary btn btn-sm fw-bold" href="{{ path('formulaireCaristeDemande', {idDemande: demande.id}) }}">ajouter cariste</a></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div>
            <a class="btn-outline-primary btn mx-5 fw-bold" href="{{ path('formulaireMultipleCaristeDemande') }}">ajout cariste groupé</a>
            {% if filtre is defined %}
                <button type="button" class="btn-outline-primary btn fw-bold" data-bs-toggle="modal" data-bs-target="#modalF">Filtre 🔍</button>
                <a class="btn-outline-primary btn fw-bold" href="{{ path('affichelisteDemande', ({'page': 1})) }}">Enlever filtre 🔍❌ </a>
            {% else %}
                 <button type="button" class="btn-outline-primary btn fw-bold" data-bs-toggle="modal" data-bs-target="#modalF">Filtre 🔍</button>
            {% endif %}
        </div>
        <div>
            {% if filtre is defined %}
                {% include 'paginationfilter.html.twig' with {'pagination': listeDemande, 'filter': filtre} %}
            {% else %}
                 {% include 'pagination.html.twig' with {'pagination': listeDemande} %}
            {% endif %}
        </div>   
</div>
<!-- Modal Filtre-->
<div class="modal fade" id="modalF" tabindex="-1" aria-labelledby="modalF" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalF">Filtré les demandes</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="{{ path('affichelisteDemandeFiltre') }}" method="get" role="form">
      <div class="modal-body">
            <div class="form-group d-flex justify-content-center mt-5">
                <div>Etat :
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" name="etat" id="etat" value=0>
                      <label class="form-check-label" for="etat">0</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" name="etat" id="etat" value=1>
                      <label class="form-check-label" for="etat">1</label>
                    </div>
                    <br>
                    <label for="entrepotS">Entrepot Source :</label>
                    <input class="form-control" type="text" id="entrepotS" name="entrepotS" value="" placeholder="Saisir un Entrepot Source" />
                    <label for="entrepotD">Entrepot Destination:</label>
                    <input class="form-control" type="text" id="entrepotD" name="entrepotD" value="" placeholder="Saisir un Entrepot Destination" />
                    <label for="article">Article:</label>
                    <input class="form-control" type="text" id="article" name="article" value="" placeholder="Saisir un Article" />
                    <label for="demandeur">Demandeur:</label>
                    <input class="form-control" type="text" id="demandeur" name="demandeur" value="" placeholder="Saisir Demandeur" />
                    <label for="cariste">Cariste:</label>
                    <input class="form-control" type="text" id="cariste" name="cariste" value="" placeholder="Saisir un Cariste" />
                    <button class="btn btn-primary mt-2" id="cariste" name="cariste" value="0">aucun Cariste</button>
                    <input type="hidden" id="page" name="page" value="1"/>
                </div>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button class="btn btn-primary" type="submit" >Valider</button>
      </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal Entrepot Source-->
<div class="modal fade" id="modalES" tabindex="-1" aria-labelledby="modalES" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalES">Filtré par Entrepot Source</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="{{ path('affichelisteDemandeFiltre') }}" method="get" role="form">
      <div class="modal-body">
            <div class="form-group d-flex justify-content-center mt-5">
                <div>
                    <label for="entrepotS">Entrepot :</label>
                    <input class="form-control" type="text" id="entrepotS" name="entrepotS" placeholder="Saisir un Entrepot" />
                    <input type="hidden" id="page" name="entrepotD" value=""/>
                    <input type="hidden" id="page" name="article" value=""/>
                    <input type="hidden" id="page" name="demandeur" value=""/>
                    <input type="hidden" id="page" name="cariste" value=""/>
                    <input type="hidden" id="page" name="page" value="1"/>
                </div>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button class="btn btn-primary" type="submit" >Valider</button>
      </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal Entrepot Destination-->
<div class="modal fade" id="modalED" tabindex="-1" aria-labelledby="modalED" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalED">Filtré par Entrepot Destination</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="{{ path('affichelisteDemandeFiltre') }}" method="get" role="form">
      <div class="modal-body">
            <div class="form-group d-flex justify-content-center mt-5">
                <div>
                    <label for="entrepotD">Entrepot :</label>
                    <input class="form-control" type="text" id="entrepotD" name="entrepotD" placeholder="Saisir un Entrepot" />
                    <input type="hidden" id="page" name="entrepotS" value=""/>
                    <input type="hidden" id="page" name="article" value=""/>
                    <input type="hidden" id="page" name="demandeur" value=""/>
                    <input type="hidden" id="page" name="cariste" value=""/>
                    <input type="hidden" id="page" name="page" value="1"/>
                </div>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button class="btn btn-primary" type="submit" >Valider</button>
      </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal Article-->
<div class="modal fade" id="modalArticle" tabindex="-1" aria-labelledby="modalArticle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalArticle">Filtré par Article</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="{{ path('affichelisteDemandeFiltre') }}" method="get" role="form">
      <div class="modal-body">
            <div class="form-group d-flex justify-content-center mt-5">
                <div>
                    <label for="article">Article :</label>
                    <input class="form-control" type="text" id="article" name="article" placeholder="Saisir un Article" />
                    <input type="hidden" id="page" name="entrepotD" value=""/>
                    <input type="hidden" id="page" name="entrepotS" value=""/>
                    <input type="hidden" id="page" name="demandeur" value=""/>
                    <input type="hidden" id="page" name="cariste" value=""/>
                    <input type="hidden" id="page" name="page" value="1"/>
                </div>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button class="btn btn-primary" type="submit" >Valider</button>
      </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal Demandeur-->
<div class="modal fade" id="modalDem" tabindex="-1" aria-labelledby="modalDem" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalDem">Filtré par Demandeur</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="{{ path('affichelisteDemandeFiltre') }}" method="get" role="form">
      <div class="modal-body">
            <div class="form-group d-flex justify-content-center mt-5">
                <div>
                    <label for="demandeur">Demandeur :</label>
                    <input class="form-control" type="text" id="demandeur" name="demandeur" placeholder="Saisir un Demandeur" />
                    <input type="hidden" id="page" name="entrepotD" value=""/>
                    <input type="hidden" id="page" name="entrepotS" value=""/>
                    <input type="hidden" id="page" name="article" value=""/>
                    <input type="hidden" id="page" name="cariste" value=""/>
                    <input type="hidden" id="page" name="page" value="1"/>
                </div>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button class="btn btn-primary" type="submit" >Valider</button>
      </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal Cariste-->
<div class="modal fade" id="modalCar" tabindex="-1" aria-labelledby="modalCar" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalCar">Filtré par Cariste</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="{{ path('affichelisteDemandeFiltre') }}" method="get" role="form">
      <div class="modal-body">
            <div class="form-group d-flex justify-content-center mt-5">
                <div>
                    <label for="cariste">Cariste :</label>
                    <input class="form-control" type="text" id="cariste" name="cariste" placeholder="Saisir un Cariste" />
                    <input type="hidden" id="page" name="entrepotD" value=""/>
                    <input type="hidden" id="page" name="entrepotS" value=""/>
                    <input type="hidden" id="page" name="article" value=""/>
                    <input type="hidden" id="page" name="demandeur" value=""/>
                    <input type="hidden" id="page" name="page" value="1"/>
                </div>
            </div>
            <div class="form-group d-flex justify-content-center m-2">
                <button class="btn btn-primary" id="cariste" name="cariste" value="0">aucun Cariste</button>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button class="btn btn-primary" type="submit" >Valider</button>
      </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}