{% extends 'base.html.twig'%}
{% block javascripts %}
  {{ parent() }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
{% endblock %}
{% block body %}
<div class="px-2">
  <h2>Affichage des statistiques pour les demandes : </h2>
  {% if app.request.query.all|length > 2 %}
  <div class="d-flex flex-wrap ">
    {% if app.request.query.get('etat') != "" %}
      {% if app.request.query.get('etat') == 0 %}
        <h5 class="mx-3"> En Préparation </h5>
      {% else %}
        <h5 class="mx-3"> Prête </h5>
      {% endif %}
    {% endif %}
    {% if app.request.query.get('entrepotS') != "" %}
      <h5 class="mx-3"> Avec l'Entrepot Source : {{app.request.query.get('entrepotS')}} </h5>
    {% endif %}
    {% if app.request.query.get('entrepotD') != "" %}
      <h5 class="mx-3"> Avec l'Entrepot Destination : {{app.request.query.get('entrepotD')}} </h5>
    {% endif %}
    {% if app.request.query.get('article') != "" %}
      <h5 class="mx-3"> Avec l'Article : {{app.request.query.get('article')}} </h5>
    {% endif %}
    {% if app.request.query.get('demandeur') != "" %}
      <h5 class="mx-3"> Avec le Demandeur : {{app.request.query.get('demandeur')}} </h5>
    {% endif %}
    {% if app.request.query.get('cariste') != "" and app.request.query.get('cariste') != "0" %}
      <h5 class="mx-3"> Avec le Cariste : {{app.request.query.get('cariste')}} </h5>
    {% elseif app.request.query.get('cariste') == "0" %}
      <h5 class="mx-3">Sans Cariste</h5>
    {% endif %}
    </div>
  {% endif %}
</div>
<div class="d-flex flex-wrap justify-content-start mx-2">
  <div class="graph">
    <canvas id="chartAn" height="200"></canvas>
  </div>
  {% if mois != -1 %}
  <div class="graph">
    <canvas id="chartMois" height="200"></canvas>
  </div>
  {% endif %}
</div>
<script type="text/javascript">
new Chart(document.getElementById("chartAn"), {
  type: 'bar',
  data: {
    labels: ["jan","fev","mars","avril","mai","juin","juillet","aout","septembre","octobre","novembre","decembre"],
    datasets: [{ 
        data: {{ nbDemandeAn|raw }},
        label: "nb demande",
        backgroundColor:"#3e95cd",
        borderColor: "#3e95cd",
        fill: false
      }, { 
        data: {{ nbDemandeAnValider|raw }},
        label: "nb validé",
        backgroundColor:"#e8c3b9",
        borderColor: "#e8c3b9",
        fill: false
      }, { 
        data: {{ nbAlHeureAn|raw }},
        label: "nb à l'heure",
        backgroundColor:"#3cba9f",
        borderColor: "#3cba9f",
        fill: false
      }, { 
        data: {{ nbRetardAn|raw }},
        label: "nb retard",
        backgroundColor:"#c45850",
        borderColor: "#c45850",
        fill: false
      },  {
          label: "moyDemandeMois",
          type: "line",
          borderColor: "#000000",
          data: [{{moyDemandeMois}},{{moyDemandeMois}},{{moyDemandeMois}},{{moyDemandeMois}},{{moyDemandeMois}},{{moyDemandeMois}},{{moyDemandeMois}},{{moyDemandeMois}},{{moyDemandeMois}},{{moyDemandeMois}},{{moyDemandeMois}},{{moyDemandeMois}}],
          fill: false
      }
    ]
  },
  options: {
    responsive : true,
    maintainAspectRation : false,
    title: {
      display: true,
      text: ' Statistique de l\'année {{annee}}'
    }
  }
});
new Chart(document.getElementById("chartMois"), {
  type: 'bar',
  data: {
    labels: {{ cal|raw }},
    datasets: [{ 
        data: {{ nbDemandeMois|raw }},
        label: "nb demande",
        backgroundColor:"#3e95cd",
        borderColor: "#3e95cd",
        fill: false
      }, { 
        data: {{ nbDemandeMoisValider|raw }},
        label: "nb validé",
        backgroundColor:"#e8c3b9",
        borderColor: "#e8c3b9",
        fill: false
      }, { 
        data: {{ nbAlHeureMois|raw }},
        label: "nb à l'heure",
        backgroundColor:"#3cba9f",
        borderColor: "#3cba9f",
        fill: false
      }, { 
        data: {{ nbRetardMois|raw }},
        label: "nb retard",
        backgroundColor:"#c45850",
        borderColor: "#c45850",
        fill: false
      }
    ]
  },
  options: {
    responsive : true,
    maintainAspectRation : false,
    title: {
      display: true,
      {% if mois == 1 %}
        text: ' Statistique de Janvier {{annee}}',
      {% endif %}
      {% if mois == 2 %}
        text: ' Statistique de Fevrier {{annee}}',
      {% endif %}
      {% if mois == 3 %}
        text: ' Statistique de Mars {{annee}}',
      {% endif %}
      {% if mois == 4 %}
        text: ' Statistique de Avril {{annee}}',
      {% endif %}
      {% if mois == 5 %}
        text: ' Statistique de Mai {{annee}}',
      {% endif %}
      {% if mois == 6 %}
        text: ' Statistique de Juin {{annee}}',
      {% endif %}
      {% if mois == 7 %}
        text: ' Statistique de Juillet {{annee}}',
      {% endif %}
      {% if mois == 8 %}
        text: ' Statistique de Aout {{annee}}',
      {% endif %}
      {% if mois == 9 %}
        text: ' Statistique de Septembre {{annee}}',
      {% endif %}
      {% if mois == 10 %}
        text: ' Statistique de Octobre {{annee}}',
      {% endif %}
      {% if mois == 11 %}
        text: ' Statistique de Novembre {{annee}}',
      {% endif %}
      {% if mois == 12 %}
        text: ' Statistique de Décembre {{annee}}',
      {% endif %}
      {% for jour in cal %}
          <td>{{ jour }}</td>
      {% endfor %}
    }
  }
});
</script>
<div class="pb-5 px-5">
<div class="btn-group pt-2" role="group" aria-label="Basic example">
  <button type="button" class="btn-outline-primary btn fw-bold mx-1" data-bs-toggle="modal" data-bs-target="#modalF">Filtre 🔍</button>
  {% if filtre["article"] is defined %}
    <a class="btn-outline-primary btn fw-bold mx-1" href="{{ path('afficheGraphStatistique', ({'annee': annee,'mois': '%02d'|format(mois) })) }}">Enlever filtre 🔍❌ </a>
  {% endif %}
</div>
<div class="btn-group pt-2" role="group" aria-label="Basic example">
  <a class="btn-outline-primary btn fw-bold mx-1" href="{{ path('afficheStatistique',filtre|merge({'annee': annee,'mois': '%02d'|format(mois) })) }}">Tableau 📋</a>
  <button type="button" class="btn-outline-primary btn fw-bold mx-1" data-bs-toggle="modal" data-bs-target="#modalD">Date 📅</button>
  <button type="button" class="btn-outline-primary btn fw-bold mx-1" data-bs-toggle="modal" data-bs-target="#modalDonut"> taux effectuées ✔️</button>
</div>
</div>
{% include 'admin/paginationDate.html.twig' %}

<!-- Modal Filtre-->
<div class="modal fade" id="modalF" tabindex="-1" aria-labelledby="modalF" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalF">Filtré les statistiques</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="{{ path('afficheGraphStatistique') }}" method="get" role="form">
      <div class="modal-body">
            <div class="form-group d-flex justify-content-center mt-5">
                <div>Etat de la demande :
                  <br>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="etat" id="etat" value=0 
                        {% if app.request.query.get('etat') == "0" %} checked {% endif %}>
                      <label class="form-check-label" for="etat">En cours de préparation</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="etat" id="etat" value=1 {% if app.request.query.get('etat') == 1 %} checked {% endif %}>
                      <label class="form-check-label" for="etat">Prête</label>
                    </div>
                    <br>
                    <label for="entrepotS">Entrepot Source :</label>
                    <input class="form-control" type="text" id="entrepotS" name="entrepotS" value="{{app.request.query.get('entrepotS')}}" placeholder="Saisir un Entrepot Source" />
                    <label for="entrepotD">Entrepot Destination:</label>
                    <input class="form-control" type="text" id="entrepotD" name="entrepotD" value="{{app.request.query.get('entrepotD')}}" placeholder="Saisir un Entrepot Destination" />
                    <label for="article">Article:</label>
                    <input class="form-control" type="text" id="article" name="article" value="{{app.request.query.get('article')}}" placeholder="Saisir un Article" />
                    <label for="demandeur">Demandeur:</label>
                    <input class="form-control" type="text" id="demandeur" name="demandeur" value="{{app.request.query.get('demandeur')}}" placeholder="Saisir Demandeur" />
                    <label for="cariste">Cariste:</label>
                    <input class="form-control" type="text" id="cariste" name="cariste" value="{{app.request.query.get('cariste')}}" placeholder="Saisir un Cariste" />
                    <button class="btn btn-primary mt-2" id="cariste" name="cariste" value="0">aucun Cariste</button>
                    <input type="hidden" id="annee" name="annee" value="{{annee}}"/>
                    <input type="hidden" id="mois" name="mois" value="{{'%02d'|format(mois)}}"/>
                </div>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button class="btn btn-primary" type="submit" >Valider</button>
      </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal Date-->
<div class="modal fade" id="modalD" tabindex="-1" aria-labelledby="modalD" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalD">Changer la date</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="{{ path('afficheGraphStatistique') }}" method="get" role="form">
      <div class="modal-body">
            <div class="form-group d-flex justify-content-center mt-5">
            <div> 
              <label for="mois">mois : </label>
              <select class="form-control" id="mois" name="mois">
                <option value="{{'now'|date('m')}}">-- Actuel ({{'now'|date('M')}}) --</option>
                <option value="01">Janvier</option>
                <option value="02">Fevrier</option>
                <option value="03">Mars</option>
                <option value="04">Avril</option>
                <option value="05">Mai</option>
                <option value="06">Juin</option>
                <option value="07">Juillet</option>
                <option value="08">Aout</option>
                <option value="09">Septembre</option>
                <option value="10">Octobre</option>
                <option value="11">Novembre</option>
                <option value="12">Décembre</option>
              </select>
              <label for="annee">annee : </label>
              <select class="form-control" id="annee" name="annee">
                <option value="{{'now'|date('Y')}}">-- Actuelle({{'now'|date('Y')}}) --</option>
                <option value="{{'now'|date('Y')-1}}">{{'now'|date('Y')-1}}</option>
                <option value="{{'now'|date('Y')-2}}">{{'now'|date('Y')-2}}</option>
                <option value="{{'now'|date('Y')-3}}">{{'now'|date('Y')-3}}</option>
                <option value="{{'now'|date('Y')-4}}">{{'now'|date('Y')-4}}</option>
                <option value="{{'now'|date('Y')-5}}">{{'now'|date('Y')-5}}</option>
                <option value="{{'now'|date('Y')-6}}">{{'now'|date('Y')-6}}</option>
                <option value="{{'now'|date('Y')-7}}">{{'now'|date('Y')-7}}</option>
                <option value="{{'now'|date('Y')-8}}">{{'now'|date('Y')-8}}</option>
                <option value="{{'now'|date('Y')-9}}">{{'now'|date('Y')-9}}</option>
                <option value="{{'now'|date('Y')-10}}">{{'now'|date('Y')-10}}</option>
              </select>
              </div>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button class="btn btn-primary" type="submit" >Valider</button>
      </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal  more stat-->
<div class="modal fade" id="modalDonut" tabindex="-1" aria-labelledby="modalDonut" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalDonut">Statistiques des demandes</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="d-flex flex-wrap mx-5">
        <h4>Nombre de demande : {{nbDemande}}</h4>
        <h4>Nombre de demande validé : {{nbDemandeValider}}</h4>
        <h4>dont {{nbAlHeure}} à l'heure et {{nbRetard}} en retard</h4>
        <h4>Nombre de demande en préparation: {{nbDemande-nbDemandeValider}}</h4>
      </div>
      <div>
        <canvas id="doughnut-chart" width="800" height="450"></canvas>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button class="btn btn-primary" data-bs-target="#modalF" data-bs-toggle="modal" data-bs-dismiss="modal">Filtre 🔍</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  new Chart(document.getElementById("doughnut-chart"), {
    type: 'doughnut',
    data: {
      labels: ["nb de Demande à l'heure", "nb de Demande en retard", "nb de Demande pas encore traité"],
      datasets: [
        {
          label: "nb de demande",
          backgroundColor: ["#3cba9f", "#c45850","#8e5ea2"],
          data: [{{nbAlHeure}},{{nbRetard}},{{nbDemande-nbDemandeValider}}]
        }
     ]
    },
    options: {
      title: {
        display: true,
        text: 'état du traitement des demandes en {{annee}}'
      }
    }
});
</script>

{% endblock %}