{% extends 'base.html.twig'%}
{% block body %}
<div class="table-responsive">
        <table class="table table-striped">
        <thead>
        <tr>
                <th scope="col">Entrepot</td>
                <th scope="col">✍🏻</th>
                <th scope="col">➖</th>
        </tr>
        </thead>
        <tbody>
        {% for entrepot in listeEntrepot %}
        	<tr>
                <td>{{ entrepot.libelle_entrepot }}</td>
                <td><a href="{{ path('modificationEntrepot', {idEntrepot: entrepot.id}) }}">modifier</a></td>
                <td><a href="{{ path('suppressionEntrepot', {idEntrepot: entrepot.id}) }}">supprimer</a></td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
</div>
<div>
        <a class="btn btn-primary mx-5 " href="{{ path('creationEntrepot') }}">Ajouter Entrepot</a>
</div>
<div>
    {% include 'pagination.html.twig' with {'pagination': listeEntrepot} %}
</div>
{% endblock %}