{% extends 'base.html.twig'%}
{% block body %}
<form method="post" action="{{ path('CreationUtilisateur') }}">
	<div class="form-group d-flex justify-content-center mt-5">
   	<fieldset>
   		<legend>Création d'un nouvel utilisateur</legend>
		<div>
		    <label for="form_login">Login</label>
		    <input class="form-control" type="text" maxlenght ="50" id="form_login" name="form[login]" required/>
		</div>
		<div>
		    <label for="form_nom">Nom</label>
		    <input class="form-control" type="text" maxlenght ="255" id="form_nom" name="form[nom]" required />
		</div>
		<div>
		    <label for="form_prenom">Prénom</label>
		    <input class="form-control" type="text" maxlenght ="255" id="form_prenom" name="form[prenom]" required/>
		</div>
		<div>
		    <label for="form_mail">E-mail</label>
		    <input class="form-control" type="mail" maxlenght ="255" id="form_mail" name="form[mail]" required/>
		</div>
		<div>
		    <label for="form_motdepasse">Mot de passe</label>
		    <input class="form-control" type="password" maxlenght ="255" id="form_motdepasse" name="form[motdepasse]" required/>
		</div>
		<div>
		    <label for="form_profile">Profile</label>
		    <select class="custom-select form-control" id="form_profile" name="form[profile]" required>
		    	<option value=""> -- Sélectionner un profile --</option>
			{% for profile in listeProfile %}
	         	<option value={{profile.id}}>{{profile.libelle}}</option>
	        {% endfor %}
	    	</select>
		</div>
		<div>
		    <label for="form_save"></label>
		    <input class="btn btn-primary d-flex justify-content-center" type="submit" id="form_save" name="form[save]" />
		</div>
	</fieldset>
	</div>
</form>	
{% endblock %}