{% extends 'base.html.twig'%}
{% block body %}
		<form action="{{ path('ajoutMultipleCaristeDemande') }}"
              method="post" role="form">
            <div class="form-group d-flex justify-content-center m-5">
            <fieldset>
                <legend>Selection du cariste :</legend>
                <div>
                    <label for="cariste">Cariste :</label>
                    <select class="custom-select form-control" name="cariste" id="cariste" placeholder="nom du cariste">
                        <option value="">-- Selectionner un cariste --</option>
                        {% for Cariste in listeCariste %}
                            <option value={{Cariste.id}}>{{Cariste.login_Cariste}}</option>
                        {% endfor %}
                    </select>
                </div>
                <br>
                <legend>Selection des demandes :</legend>
                <div class="table-responsive">
                    <table class="table table-striped" >
                        <thead class="sticky-top table-secondary">
                            <tr>
                                <th scope="col">A ajouté ?</th>
                                <th scope="col">Etat</th>
                                <th scope="col">Date Création</th>
                                <th scope="col">Date Besoin</th>
                                <th scope="col">Entrepot Source</th>
                                <th scope="col">Entrepot Destinataire</th>
                                <th scope="col">Article</th>
                                <th scope="col">Qte req</th>
                                <th scope="col">Unité </th>
                                <th scope="col">Demandeur </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for demande in listeDemande %}
                            <tr>
                                <td>
                                    <div class="form-check">
                                      <input class="form-check-input" type="checkbox" value="{{ demande.id }}" id="{{ demande.id }}" name="demandeId[]">
                                      <label class="form-check-label" for="{{ demande.id }}">
                                        Ajouter le cariste
                                      </label>
                                    </div>
                                </td>
                                {% if demande.etat == 0 %}
                                    <td>❌</td>
                                {% else %}
                                    <td>✅</td>
                                {% endif %}
                                <td>{{ demande.date_creation|date('d-m-Y') }}</td>
                                <td>{{ demande.date_besoin|date('d-m-Y') }}</td>
                                <td>{{ demande.entrepot_source_libelle }}</td>
                                <td>{{ demande.entrepot_dest_libelle }}</td>
                                <td>{{ demande.article_libelle }}</td>
                                <td>{{ demande.quantite}}</td>
                                <td>{{ demande.unite_libelle  }}</td>
                                <td>{{ demande.nom_demandeur  }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>                    
                </div>
                <div>
                    <button class="btn btn-primary d-flex justify-content-center mt-4" type="submit" >Valider</button>
                </div>
            </div>
        </fieldset>
        </form>
{% endblock %}