{% extends 'base.html.twig'%}
{% block body %}
		<form action="{{ path('ajouterCaristeDemande', {idDemande: idDemande}) }}"
              method="post" role="form">
            <div class="form-group d-flex justify-content-center mt-5">
            <fieldset>
                <legend>Ajout d'un cariste à la demande : {{idDemande}}</legend>
                <div>
                    <label for="cariste">Cariste :</label>
                    <select class="custom-select form-control" name="cariste" id="cariste" placeholder="nom du cariste">
                        {% for Cariste in listeCariste %}
                            <option value={{Cariste.id}}>{{Cariste.login_Cariste}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <button class="btn btn-primary d-flex justify-content-center mt-4" type="submit" >Valider</button>
                </div>
            </div>
        </fieldset>
        </form>
{% endblock %}