{% extends 'base.html.twig'%}
{% block body %}
<form method="post" action="{{ path('modificationUnite', {idUnite: unite.id}) }}">
	<div class="form-group d-flex justify-content-center mt-5">
   	<fieldset>
   		<legend>modification de l'unité : {{unite.id}}</legend>
		<div>
		    <label for="form_libelle">libelle</label>
		    <input class="form-control" type="string" id="form_libelle" name="form[libelle]" value="{{unite.libelle}}"/>
		</div>
		<div>
		    <label for="form_save"></label>
		    <input class="btn btn-primary d-flex justify-content-center" type="submit" id="form_save" name="form[save]" />
		</div>
	</fieldset>
	</div>
</form>	
{% endblock %}