{% extends 'base.html.twig'%}
{% block body %}
<form method="post" action="{{ path('modificationPasswordUtilisateur', {idUtilisateur: utilisateur.id}) }}">
	<div class="form-group d-flex justify-content-center mt-5">
   	<fieldset>
   		<legend>modification du mot de passe de : </legend>
   		<legend class="d-flex justify-content-center">{{utilisateur.nom}} {{utilisateur.prenom}} </legend>
		<div>
		    <label for="form_motdepasse">Mot de passe</label>
		    <input class="form-control" type="password" maxlenght ="255" id="form_motdepasse" name="form[motdepasse]"  required/>
		</div>
		<div>
		    <label for="form_save"></label>
		    <input class="btn btn-primary d-flex justify-content-center" type="submit" id="form_save" name="form[save]" />
		</div>
	</fieldset>
	</div>
</form>	
{% endblock %}