{% extends 'base.html.twig'%}
{% block body %}
<form method="post" action="{{ path('modificationArticle', {idArticle: article.id}) }}">
	<div class="form-group d-flex justify-content-center mt-5">
   	<fieldset>
   		<legend>modification de l'article {{article.id}}</legend>
		<div>
		    <label for="form_code">Code</label>
		    <input class="form-control" type="int" id="form_code" name="form[code]" value = {{article.code}} />
		</div>
		<div>
		    <label for="form_libelle">libelle</label>
		    <input class="form-control" type="string" id="form_libelle" name="form[libelle]" value = {{article.libelle}} />
		</div>
		<div>
		    <label for="form_save"></label>
		    <input class="btn btn-primary d-flex justify-content-center" type="submit" id="form_save" name="form[save]" />
		</div>
	</fieldset>
	</div>
</form>	
{% endblock %}