<div>
	<nav aria-label="Page navigation example">
		<ul class="pagination d-flex justify-content-md-center fixed-bottom m-5">
			<li class="page-item">
		        <a class="page-link" href="{{ path(app.request.attributes.get('_route'), ({'annee': 'now'|date('Y'),'mois': 'now'|date('m') })) }}"><<</a>
		    </li>
		    {% if 'now'|date('Y') > annee %}
			    <li class="page-item">
			        <a class="page-link" href="{{ path(app.request.attributes.get('_route'), ({'annee': annee+1,'mois': mois|date('m') })) }}"> <</a>
			    </li>
		    {% else %}
		    <li class="page-item">
		        <a class="page-link" href="{{ path(app.request.attributes.get('_route'), ({'annee': annee,'mois': 'now'|date('m') })) }}"><</a>
		    </li>
		    {% endif %}
		    <li class="page-item active">
		    	<a class="page-link" href="{{ path(app.request.attributes.get('_route'), ({'annee': annee,'mois': mois|date('m') })) }}">{{annee}}</a>
		    </li>
		    <li class="page-item">
		    	<a class="page-link" href="{{ path(app.request.attributes.get('_route'), ({'annee': annee-1,'mois': mois|date('m') })) }}">></a>
		    </li>
		    <li class="page-item">
		    	<a class="page-link" href="{{ path(app.request.attributes.get('_route'), ({'annee': annee-2,'mois': mois|date('m') })) }}">>></a>
		    </li>
		</ul>
	</nav>
</div>