.profile{
  width:70%;
  margin-left: auto;
  margin-right: auto;
}

$breakpoints: (
  mobile: 599px
);

@mixin mobile-only {
  @media screen and (max-width: map-get($breakpoints, mobile)) {
    width: 100%;
  }
}

.graph{
  min-width:50%;
  @include mobile-only;
}

.message-taille{
  width: 80%;
  height: 80%;
}