{% extends 'base.html.twig'%}
{% block body %}
<div class=" message-taille mx-auto mt-5">
	<div class="border border-primary border-3 rounded p-5">
		<div class="d-flex justify-content-evenly bd-highlight">
			<div class="flex-fill bd-highlight mx-2">
				Titre :
				<span class="border border-primary rounded d-flex justify-content-center p-3">{{message.titre}}</span>
			</div>
			<div class="flex-fill bd-highlight mx-2">
				Date d'envoie :
				<span class="border border-primary rounded d-flex justify-content-center p-3">{{message.dateEnvoie|date('d-m-Y')}}</span>
			</div>
		</div>
		Destinataire :
	    <span class="border border-primary rounded d-flex justify-content-center p-3">
	    	{% for destinataire in message.Destinataire %}
                   {{ destinataire.nom }} {{ destinataire.prenom }} <br>
            {% endfor %}
        </span>
	    Expediteur :
	    <span class="border border-primary rounded d-flex justify-content-center p-3">
	    	{{message.Expediteur.nom}} {{message.Expediteur.prenom}}
	    </span>
	    Message :
	    <span class="border border-primary rounded d-flex justify-content-center text-break p-3 row">
	    {{message.message|raw}}
		</span>
    </div>
</div>
<div class="d-flex justify-content-center mt-5">
	<a class="btn btn-primary"
	{% if app.user.roles[0] == "ROLE_ADMIN" %} href="{{ path('afficheListeMessage' ,{page:1}) }}"{% endif %}
	{% if app.user.roles[0] == "ROLE_CARISTE" %} href="{{ path('afficheListeMessageCariste' ,{page:1}) }}"{% endif %}
	> Retour aux Messages</a>
</div>
{% endblock %}