{% extends 'base.html.twig'%}
{% block body %}
<h2 class="d-flex justify-content-center">Boite message</h2>
<div class="table-responsive">
        <table class="table">
        <thead>
        <tr>
                <th scope="col">Action</th>
                <th scope="col">Date</th>
                <th scope="col">Titre</th>
                <th scope="col">Destinataire(s)</th>
                <th scope="col">Expéditeur</th>
        </tr>
        </thead>
        <tbody>
        {% for message in listeMessage %}
            {% if message.vu == 1 %}
            <tr class="table-secondary">
            {% else %}
            <tr>
            {% endif %}
                <td>
                    <a class="btn btn-outline-primary"
                    {% if app.user.roles[0] == "ROLE_ADMIN" %} href="{{path('afficheMessage',{idMessage:message.id})}}" 
                    {% endif %}
                    {% if app.user.roles[0] == "ROLE_CARISTE" %} href="{{path('afficheMessageCariste',{idMessage:message.id})}}" 
                    {% endif %}
                    >
                      Voir
                    </a>
                </td>
                <td>{{message.dateEnvoie|date('d-m-Y')}}</td>
                <td>{{message.titre}}</td>
                <td>
                {% for destinataire in message.Destinataire %}
                    {{ destinataire.nom }} {{ destinataire.prenom }}
                {% endfor %}
                </td>
                <td>{{message.Expediteur.nom}} {{message.Expediteur.prenom}}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
</div>
{% if app.user.roles[0] == "ROLE_ADMIN" %}
    <div>
        <a class="btn btn-primary mx-5 " href="{{ path('creationMessage')}}">Nouveau Message</a>
    </div>
{% endif %}
<div>
    {% include 'pagination.html.twig' with {'pagination': listeMessage} %}
</div>

{% endblock %}