{% extends 'base.html.twig'%}
{% block body %}
	<div class="d-flex justify-content-center">
        <h2>Nouveau Message</h2>
    </div>
    <div class="form-group d-flex justify-content-center mt-5 ">
    {{ form_start(form) }}
    	{{ form_widget(form) }}
		<button class="btn btn-primary mt-3">Envoyer</button>
	{{ form_end(form) }}
	</div>
{% endblock %}