<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}
                {% if app.user.roles is defined %}
                    {% if app.user.roles[0] == "ROLE_ADMIN" %}
                        SAP Admin
                    {% endif %}
                    {% if app.user.roles[0] == "ROLE_DEMANDEUR" %}
                        SAP Demandeur
                    {% endif %}
                    {% if app.user.roles[0] == "ROLE_CARISTE" %}
                        SAP Cariste
                    {% endif %}
                {% else %}
                    Welcome
                {% endif %}
            {% endblock %}
        </title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        {% if app.user.roles is defined %}
            {% if app.user.roles[0] == "ROLE_ADMIN" %}
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                  <div class="container-fluid">
                    <a class="navbar-brand" href="{{  path('affichelisteDemande', ({'page': 1})) }}">SAP<span class="sr-only"></span></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                      <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" href="{{  path('affichelisteDemande', ({'page': 1})) }}">Consulter la liste des demande</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ path('afficheListeArticle', ({'page': 1})) }}">Gestion des articles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ path('afficheListeUnite', ({'page': 1})) }}">Gestion des unités</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ path('afficheListeEntrepot', ({'page': 1})) }}">Gestion des entrepots</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ path('afficheListeUtilisateur', ({'page': 1})) }}">Gestion des utilisateurs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ path('afficheGraphStatistique', ({'annee': 'now'|date('Y'),'mois': 'now'|date('m') })) }}">Afficher les statistique</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ path('afficheListeMessage', ({'page': 1})) }}">Messages</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
                        </li> 
                      </ul>
                    </div>
                  </div>
                </nav>
            {% elseif app.user.roles[0] == "ROLE_CARISTE" %}
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                  <div class="container-fluid">
                    <a class="navbar-brand" href="{{ path('afficheListeDemandeCariste', ({'page': 1})) }}">SAP<span class="sr-only"></span></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                      <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" href="{{  path('afficheListeDemandeCariste', ({'page': 1})) }}">Voir les demandes affectées</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{{  path('afficheProfileCariste') }}">Gérer votre profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ path('afficheListeMessageCariste', ({'page': 1})) }}">Messages</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
                        </li> 
                      </ul>
                    </div>
                  </div>
                </nav>
            {% elseif app.user.roles[0] == "ROLE_DEMANDEUR" %}
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                  <div class="container-fluid">
                    <a class="navbar-brand" href="{{ path('afficheListeDemandeDemandeur', ({'page': 1})) }}">SAP<span class="sr-only"></span></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                      <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" href="{{  path('afficheListeDemandeDemandeur', ({'page': 1})) }}">Consulter la liste vos demandes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active"href="{{  path('AjouterDemande') }}">Faire une demande</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active"href="{{  path('afficheProfileDemandeur') }}">Gérer votre profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
                        </li> 
                      </ul>
                    </div>
                  </div>
                </nav>
            {% endif%}
            <div class="d-flex justify-content-center">
                <h1 class="mx-auto">{{app.user.nom}} {{app.user.prenom}}</h1>          
            </div>
        {% else%}
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
              <div class="container-fluid">
                <a class="navbar-brand" href="/">SAP<span class="sr-only"></span></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-item nav-link active" href="/login">Se Connecter<span class="sr-only"></span></a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
        {% endif%}
        {% block body %}{% endblock %}
        <br>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('erreur') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('pb') %}
            <div class="alert alert-info">
                {{ message }}
            </div>
        {% endfor %}
    </body>
</html>