<nav aria-label="Page navigation example">
        {% if nbPages > 0 %}
          <ul class="pagination d-flex justify-content-md-center fixed-bottom m-5">
            {% if pagination.page > 1 %}
            <li class="page-item">
                <a class="page-link" href="{{ path(pagination.route, pagination.params|merge({'page': 1})) }}"><<</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="{{ path(pagination.route, pagination.params|merge({'page': pagination.page-1})) }}"><</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="{{ path(pagination.route, pagination.params|merge({'page': 1})) }}"><<</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="{{ path(pagination.route, pagination.params|merge({'page': 1}))}}"><</a>
            </li>
            {% endif %}
            {# Affichage de toutes les pages entre p-4 et p+4 sauf si < 1 ou > nbPages #}
            {% for p in range(max(pagination.page-4, 1), min(pagination.page+4, nbPages)) %}
                <li {% if p == pagination.page %} class="page-item active" {% else%} class="page-item" {% endif %}>
                    <a class="page-link" href="{{ path(pagination.route, pagination.params|merge({'page': p })) }}">{{ p }}</a>
                </li>
            {% endfor %}
            {% if pagination.page < nbPages %}
            <li class="page-item">
                <a class="page-link" href="{{ path(pagination.route, pagination.params|merge({'page': pagination.page+1 })) }}">
                    >
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="{{ path(pagination.route, pagination.params|merge({'page': nbPages})) }}">
                    >>
                </a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="{{ path(pagination.route, pagination.params|merge({'page': nbPages })) }}">
                    >
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="{{ path(pagination.route, pagination.params|merge({'page': nbPages})) }}">
                    >>
                </a>
            </li>
            {% endif %}
            </ul>
        {% endif %}
        </nav>